 <?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" version="4.23.0" targetFramework="net46" developmentDependency="false" />
  <package id="bootstrap" version="4.0.0-beta" targetFramework="net46" developmentDependency="false" />
  <package id="SqzrFramework480" version="0.0.5" targetFramework="net46" developmentDependency="false" />
  
</packages>